.contact-header {
  background: $bck-light;
  border-bottom: solid 1px $line-light;

  .header-content {
    padding: 100px 0;
    display: flex;

    @media screen and (max-width: $mq-l) {
      padding: 40px 0;
    }

    @media screen and (max-width: $mq-m) {
      flex-direction: column;
    }

    .info {
      width: 33%;
      padding-right: $default-l-margin;

      @media screen and (max-width: $mq-m) {
        width: 100%;
        margin-bottom: $default-m-margin;
      }

      h1 {
        font-size: $fs-header-mini;
        line-height: $fs-header-mini;
        font-family: $font-header;
        font-weight: 700;
        padding-bottom: 20px;
      }

      p {
        font-size: $fs-title;
        line-height: $fs-title + 4;
      }
    }

    .picture {
      width: 67%;

      @media screen and (max-width: $mq-m) {
        width: 100%;
      }

      img {
        width: 100%;
        filter: grayscale(100%);
      }
    }
  }
}

.contact-content {
  .column-container {
    padding: 100px 0;
    display: flex;

    @media screen and (max-width: $mq-l) {
      padding: 40px 0;
    }

    @media screen and (max-width: $mq-s) {
      flex-direction: column;
    }

    .column {
      flex: calc(100% / 3);

      @media screen and (max-width: $mq-s) {
        margin-bottom: $default-l-margin;
      }

      h2 {
        font-size: $fs-title;
        line-height: $fs-title;
        padding-bottom: 20px;
        text-transform: uppercase;
      }

      p {
        padding-bottom: 10px;
      }

      a {
        color: $color-secondary;

        &:hover, &:focus {
          color: $color-secondary-h;
        }
      }
    }
  }
}