*::selection {
  background: $color-secondary;
  color: white;
}

body, button, input, textarea {
  font-family: $font-text;
  font-size: $fs-text;
  line-height: $fs-text + 4;
  font-weight: 300;

  background: white;
}

html, body {
  display: block;
  margin: 0; padding: 0;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.layout-width {
  width: $layout-width;
  margin: auto;

  @media screen and (max-width: $mq-l) {
    width: 100%;
    padding: 0 $default-l-margin;
  }

  @media screen and (max-width: $mq-m) {
    padding: 0 $default-m-margin;
  }
}

.main-container {
  flex: 1;
  background-color: $bck-light;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.no-mobile {
  @media screen and (max-width: $mq-burger-nav) {
    display: none !important;
  }
}

.only-mobile {
  @media screen and (min-width: $mq-burger-nav) {
    display: none !important;
  }
}
