.home-header {
  @include container(460px);
  margin-top: 40px;
  margin-bottom: 40px;

  @media screen and (max-width: $mq-s) {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
  }

  .flex-item {
    margin: 10px 0;

    &.desc {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0;

      font-size: 20px;
      line-height: 24px;
      padding-bottom: 5px;

      span {
        font-family: monospace;
        white-space: nowrap;
      }

      .tail {
        flex: 0 0 18px;
        width: 18px; height: 18px;
        background: $color-secondary;

        @media screen and (max-width: 460px + 2*20px) {
          display: none;
        }
      }
    }

    input {
      background-color: #FFF;
      border: 1px solid #979797;
      line-height: 46px;
      padding: 0 12px;
      width: 100%;
      font-size: 16px;

      &:focus {
        outline: 0;
        border-color: $color-secondary;
        box-shadow: inset 0 0 0 2px $color-secondary;
      }
    }

    &.title {
      display: flex;
      padding: 0;

      div {
        align-self: flex-end;

        h1 {
          position: relative;
          font-size: $fs-header;
          line-height: $fs-header;
          font-family: $font-header;
          font-weight: 700;

          @media screen and (max-width: $mq-s) {
            font-size: $fs-header - 20px;
            line-height: $fs-header - 20px;
          }
        }
      }
    }
  }
}

.home-content {
  padding-bottom: 100px;
  background: $color-primary;

  @media screen and (max-width: $mq-l) {
    padding-bottom: 0;
  }
}
