.items-list {
  padding: 100px calc((#{$layout-width} - #{$inner-layout-width}) / 2);

  @media screen and (max-width: $mq-m) {
    padding: 100px 10%;
  }

  @media screen and (max-width: $mq-s) {
    padding: 100px $default-m-margin;
  }

  .item {
    position: relative;

    .item-body {
      position: relative;
      display: block;
      border-bottom: solid 1px $line-light;
      padding: $default-m-margin 60px $default-m-margin 0;
      color: black;
      text-decoration: none;

      .title {
        display: block;
        font-size: $fs-title;
        line-height: $fs-title + 4;
        
        text-transform: uppercase;

        .subtitle {
          margin-left: 10px;
          
          font-size: $fs-text;
          color: $color-secondary;
        }
      }

      .type {
        display: block;
        font-size: $fs-text;
        line-height: $fs-text + 4;
        padding-top: 6px;

        color: $color-secondary;
        text-transform: uppercase;
      }

      &:after {
        position: absolute;
        top: 0; right: 0; bottom: 0;
        line-height: 66px; width: 60px;
        display: block;
        text-align: center;
        color: $color-secondary;
        font-size: 30px;
        content: '→';
        transition: all linear 200ms;
      }

      &:hover, &:focus {
        .title {
          .subtitle {
            color: $color-secondary-h;
          }
        }

        .type {
          color: $color-secondary-h;
        }

        &:after {
          right: -20px;
          color: $color-secondary-h;
        }
      }
    }
  }
}

.items-list-empty {
  font-size: $fs-title;
  line-height: $fs-title + 4;
  text-align: center;
  padding: 100px 0;
  color: $color-text-lighter;
}