.main-results {
  padding: 32px 0;
  background-color: white;
  display: flex;

  section {
    margin: 0 auto;
    flex: 0 0 460px;
    white-space: nowrap;
  }

  .big {
    .partA {
      color: #5D5D5D;
    }
    .partB {
      color: black;
      margin-left: -4px;
    }
    font-size: 20px;
    line-height: 28px;
    text-align: right;
    font-weight: 500;
  }

  .small {
    margin: 38px -8px 0;
    display: flex;
    justify-content: space-between;

    & > div {
      margin: 0 8px;
      h3 {
        color: #212121;
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
      }

      p {
        color: $color-secondary;
        font-weight: 400;
        font-size: 16px;
      }
    }
  }
}

.search-results {
  background-color: $bck-light;
  border-top: 1px solid $line-light;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;

  .grid {
    .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      border-bottom: 1px solid $line-light;

      .predicate {
        padding: 10px 0;
      }

      .terms {
        flex: 0 1 720px;
        border-left: 1px solid $line-light;
        margin-left: auto;

        .term {
          margin-top: -1px;
          border-top: 1px solid $line-light;
          padding: 10px 0 10px 20px;
        }

        @media screen and (max-width: 720px + 50px) {
          border-left: 0;
          border-bottom: 1px solid $line-light;

          .term {
            padding: 10px 0;
          }
        }
      }
    }
  }
}
