.main-results {
  padding: 32px 0;
  background-color: white;
  display: flex;

  section {
    margin: 0 auto;
    flex: 0 0 460px;
    white-space: nowrap;
  }

  .big {
    .partA {
      color: #5D5D5D;
    }
    .partB {
      color: black;
      margin-left: -4px;
    }
    font-size: 20px;
    line-height: 28px;
    text-align: right;
    font-weight: 500;
  }

  .small {
    margin: 38px -8px 0;
    display: flex;
    justify-content: space-between;

    & > div {
      margin: 0 8px;
      h3 {
        color: #212121;
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
      }

      p {
        color: $color-secondary;
        font-weight: 400;
        font-size: 16px;
      }
    }
  }
}

.search-results {
  background-color: $bck-light;
  border-top: 1px solid $line-light;

  .grid {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-gap: 0px;

    div.item {
      padding: 10px;
      border-top: 1px solid #dfdfdf;
      border-left: 1px solid #dfdfdf;
      &:nth-child(-n+2) {
        border-top: none;
      }
      &:nth-child(odd) {
        border-left: none;
      }
    }
  }
}
